%section.tl-page-content.tl-story-page
  - the_post()

  - $previous = previous_page_not_post()
  - if ($previous)
    %a.tl-arrow-linker.tl-linker-prev{:href => "#{$previous['link']}"}
      %img.svg{:alt => "", :src => "<?php echo asset_url('images'); ?>/arrow-prev.svg"}/
      %span= $previous['text']
  - else
    .tl-linker-spacer


  .tl-content-wrap
    %h1.tl-title= the_title()
    .tl-content= the_content()

  - $next = next_page_not_post()
  - if ($next)
    %a.tl-arrow-linker.tl-linker-next{:href => "#{$next['link']}"}
      %img.svg{:alt => "", :src => "<?php echo asset_url('images'); ?>/arrow-next.svg"}/
      %span= $next['text']
  - else
    %a.tl-arrow-linker.tl-linker-next{:href => "#{get_site_url()}"}
      %img.svg{:alt => "", :src => "#{asset_url('images')}/arrow-next.svg"}/
      %span Home
