!!! 5
%html(html_attrs())
  %head= render_partial("layouts/head")
  %body
    %div.container-fluid

      %header.tl-page-header= render_partial("layouts/header")
      = wl_yield()
      %footer.tl-page-footer= render_partial("layouts/footer")

    // jQuery and application.js is loaded by default with wp_footer() function. See config/initializers/default_hooks.php for details
    - wp_footer()

    = javascript_include_tag("bootstrap")
    - if (is_front_page())
      = javascript_include_tag("home")
